<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>590571823887-ag07dnbj5h34vafb32n1f74esn0ri2c8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.590571823887-ag07dnbj5h34vafb32n1f74esn0ri2c8</string>
	<key>API_KEY</key>
	<string>AIzaSyB2CGP5fm0Hh4OVY0532QtB3QyySisfv8M</string>
	<key>GCM_SENDER_ID</key>
	<string>590571823887</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.vaqt</string>
	<key>PROJECT_ID</key>
	<string>vaqt-b3158</string>
	<key>STORAGE_BUCKET</key>
	<string>vaqt-b3158.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:590571823887:ios:0c54ecc9da3e8431e4147a</string>
</dict>
</plist>